.content-card + .content-card {
    border-top: 1px solid #DDDDDD;
    height: 1500px;
    width: 950px;   
}

.object-choice {
    overflow: scroll;
    background-color: #ece7e9;
    height: 200px;
    width: 1100px;
}

.field-choice {
    overflow: scroll;
    background-color: #ece7e9;
    height: 150px;
    width: 1100px;
}

.where-choice {
    overflow: scroll;
    background-color: #ece7e9;
    height: 100px;
    width: 1100px;
}

.object-checkbox {
    display: inline-block;
    width: 260px;
}

.field-checkbox {
    display: inline-block;
    width: 260px;
}
.where-box {
    display:inline-block;
    width: 1300px;
    margin: 0%;
}
.where-div {
    display:inline-block;
    width: 455px;
    margin: 0%;
}

.where-field {
    display: inline-block;
    width: 150px;
    height: 20px;
    margin: 3px;
}

.where-operator {
    display: inline-block;
}

.where-value {
    display: inline-block;
    width: 150px;
    height: 20px;
    margin: 3px;
}

.where-Logical-operator {
    display: inline-block;
    visibility: hidden;
    width: 150px;
    height: 20px;
    margin: 3px;
}